/* Переменные */

:root {
  --white: #fff;
  --gray: #f6f6f6;
  --black: #070707;
  --font-family: Roboto, sans-serif;
}

/* Базовые стили */

body {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  background-color: var(--white);
}
